.la-home {
    background-image: url('../../images/bg-header.jpeg');
    background-size: cover;
    background-position: center top;
    height: 100vh;
    position: relative;
}

.la-home .header {
    position: fixed;
    left: 0;
    right: 0;
    background-color: var(--button-color);
    z-index: 10;

}

.la-home .header .main-header {
    color: var(--main-font-color);
    padding: 12px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;


}

.la-home .header .logo h2 {
    font-size: 1.5rem;
    color: rgb(235, 170, 49);
}

.la-home .navbar {
    display: flex;
    width: 60%;
    align-items: center;
    color: #fff;
    justify-content: space-between;
}

.la-home .navbar a {
    color: #fff;
}

.la-home .navbar .login {
    background-color: #fff;
    color: var(--button-color);
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 12px;
    position: relative;
}




.la-home .navbar .login:hover {
    background-color: var(--button-color);
    color: #fff;
}

.la-home .navbar li:not(:last-child) {
    padding: 10px;
    cursor: pointer;

}

.la-home .navbar .active {
    border-bottom: 2px solid var(--font-color);
}

.la-home .header .burger-menu {
    background-color: #fff;
    padding: 4px 6px;
    border-radius: 2px;
    cursor: pointer;
    display: none;
}

.la-home .header .burger-menu i {
    color: var(--button-color);
    font-size: 18px;
}

.la-home .header .dropdown-menu {
    position: absolute;
    top: 52px;
    width: 100%;
    background-color: #e7e6e6;
    border-end-end-radius: 10px;
    border-bottom-left-radius: 10px;
}

.la-home .header .dropdown-menu a {
    font-size: 16px;
    padding: 10px;
    font-weight: bold;
    display: block;
    color: #787876;
    cursor: pointer;
}

.la-home .header .dropdown-menu li:last-child {
    font-size: 16px;
    padding: 10px;
    font-weight: bold;
    display: block;
    color: #787876;
    cursor: pointer;
}

.la-home .header .dropdown-menu li:last-child:hover {
    color: var(--button-color);
}

.la-home .header .dropdown-menu a:hover {
    color: #424241;

}




@media (max-width: 768px) {
    .la-home .header .burger-menu {
        display: block;
    }

    .la-home .navbar {
        display: none;
        /* Hide navbar links on small screens */
    }
   

    .la-home .text-hero p{

         font-size: 1.5rem;
         font-weight: 700;

    }


}

.la-home .text-hero {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
}

.la-home .text-hero h2 {
    font-size: 1.6rem;
    margin-bottom: 12px;
}

.la-home .text-hero p {
    margin-bottom: 40px;
    color: #7c7b7b;
    max-width: 70%;

}

.la-home .text-hero h1 {
    font-weight: 900;
    font-size: 2.2rem;
}

.la-home .button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 40px;
}

.la-home .button-group .btn {
    width: 160px;
    height: 40px;
    color: #fff;
    font-size: 1rem;
    font-weight: 800;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.la-home .button-group .btn:first-child {
    background-color: var(--button-color);
    transition: 1s;
}

.la-home .button-group .btn:first-child:hover {
    background-color: var(--font-color);

}

.la-home .button-group .btn:nth-child(2) {
    background-color: var(--font-color);
    transition: 1s;
}

.la-home .button-group .btn:nth-child(2):hover {
    background-color: var(--button-color);
    transition: 1s;


}

.la-home .button-group .btn:last-child {
    background-color: var(--font-color);
    transition: 1s;
}

.la-home .button-group .btn:last-child:hover {
    background-color: var(--button-color);
    transition: 1s;


}


@media (max-width: 1024px) {

    


    .la-home .text-hero p{

        font-size: 2.5rem;
        font-weight: 700;

   }


   .la-home .button-group  {
   
    color: aqua;  
}


}